@font-face {
    font-family: 'Minecraft';
    src: url('/static/assets/font/Minecraft.ttf') format('truetype');
    font-display: swap;
}

.minecraft-font {
    font-family: 'Minecraft', sans-serif;
}

/** General styles **/
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html, body {
    width: 100%;
    height: 100%;
}

